body {
    font-family: Arial, sans-serif;
    background-color: #fce6f1;
    color: hwb(268 39% 19%);
    margin: 0;
    padding: 0;
}

header {
    background-color: #f3a9c9;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin-top: 10px;
    font-size: 20px;
}

nav {
    background-color: #f3a9c9;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: hwb(268 39% 19%);
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    color: white;
    background-color: hwb(268 39% 19%);
    padding: 5px 10px;
    border-radius: 5px;
}

.content {
    padding: 20px;
}

.section-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: hwb(268 39% 19%);
}

.skin-type {
    margin-bottom: 30px;
}

.skin-type h3 {
    font-size: 24px;
    color: hwb(268 39% 19%);
    margin-bottom: 10px;
}

.skin-type ul {
    list-style-type: none;
    padding: 0;
}

.skin-type li {
    font-size: 18px;
    margin-bottom: 8px;
}

footer {
    background-color: #f3a9c9;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}